@import url(../fonts/fontawesome/font-awesome.css);
@font-face {
  font-family: 'Gotham-Rounded-Bold';
  src: url("../fonts/gotham-rounded/bold/gothamrnd-bold.eot");
  src: url("../fonts/gotham-rounded/bold/gothamrnd-bold.eot") format("eot"), url("../fonts/gotham-rounded/bold/gothamrnd-bold.woff") format("woff"), url("../fonts/gotham-rounded/bold/gothamrnd-bold.ttf") format("truetype"), url("../fonts/gotham-rounded/bold/gothamrounded-bold-webfont.svg") format("svg");
  font-variant: normal;
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Gotham-Rounded-Book';
  src: url("../fonts/gotham-rounded/book/gothamrnd-book.eot");
  src: url("../fonts/gotham-rounded/book/gothamrnd-book.eot?") format("eot"), url("../fonts/gotham-rounded/book/gothamrnd-book.woff") format("woff"), url("../fonts/gotham-rounded/book/gothamrnd-book.ttf") format("truetype"), url("../fonts/gotham-rounded/book/gotham-book-webfont.svg") format("svg");
  font-variant: normal;
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Gotham-Rounded-Medium';
  src: url("../fonts/gotham-rounded/medium/gothamrnd-medium.eot");
  src: url("../fonts/gotham-rounded/medium/gothamrnd-medium.eot") format("eot"), url("../fonts/gotham-rounded/medium/gothamrnd-medium.woff") format("woff"), url("../fonts/gotham-rounded/medium/gothamrnd-medium.ttf") format("truetype"), url("../fonts/gotham-rounded/medium/gothamrounded-medium-webfont.svg") format("svg");
  font-variant: normal;
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Gotham-Rounded-Medium-Italic';
  src: url("../fonts/gotham-rounded/medium-italic/gothamrounded-mediumitalic-webfont.eot");
  src: url("../fonts/gotham-rounded/medium-italic/gothamrounded-mediumitalic-webfont.eot?") format("eot"), url("../fonts/gotham-rounded/medium-italic/gothamrounded-mediumitalic-webfont.woff") format("woff"), url("../fonts/gotham-rounded/medium-italic/gothamrounded-mediumitalic-webfont.ttf") format("truetype"), url("../fonts/gotham-rounded/medium-italic/gothamrounded-mediumitalic-webfont.svg") format("svg");
  font-variant: normal;
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Gotham-Rounded-Light';
  src: url("../fonts/gotham-rounded/light/gothamrnd-light.eot");
  src: url("../fonts/gotham-rounded/light/gothamrnd-light.eot?") format("eot"), url("../fonts/gotham-rounded/light/gothamrnd-light.woff") format("woff"), url("../fonts/gotham-rounded/light/gothamrnd-light.ttf") format("truetype"), url("../fonts/gotham-rounded/light/gothamrounded-light-webfont.svg") format("svg");
  font-variant: normal;
  font-style: normal;
  font-weight: normal; }

.grid {
  height: inherit;
  display: block;
  margin-left: 0;
  margin-right: 0; }
  .grid .grid-item {
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 0;
    margin-right: 0;
    vertical-align: top; }
    .grid .grid-item:first-child {
      padding-left: 0; }
    .grid .grid-item:last-child {
      padding-right: 0; }
  .grid .grid-full {
    padding-left: 0;
    padding-right: 0; }

.item {
  padding-left: 50px;
  padding-right: 50px; }
  .item:last-child {
    padding-right: 0; }
  .item:first-child {
    padding-left: 0; }

.grid-12 {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important; }

.grid-11 {
  width: 91.6666667%; }

.grid-10 {
  width: 83.3333333%; }

.grid-9 {
  width: 75%; }

.grid-8 {
  width: 66.6666667%; }

.grid-7 {
  width: 58.3333333%; }

.grid-6 {
  width: 50%; }

.grid-5 {
  width: 41.6666667%; }

.grid-4 {
  width: 33.3333333%; }

.grid-3 {
  width: 25%; }

.grid-2 {
  width: 16.6666667%; }

.grid-1 {
  width: 8.33333333%; }

.grid-hide {
  display: none; }

@media screen and (min-width: 1441px) {
  .desktop-grid-12 {
    width: 100%; }
  .desktop-grid-11 {
    width: 91.6666667%; }
  .desktop-grid-10 {
    width: 83.3333333%; }
  .desktop-grid-9 {
    width: 75%; }
  .desktop-grid-8 {
    width: 66.6666667%; }
  .desktop-grid-7 {
    width: 58.3333333%; }
  .desktop-grid-6 {
    width: 50%; }
  .desktop-grid-5 {
    width: 41.6666667%; }
  .desktop-grid-4 {
    width: 33.3333333%; }
  .desktop-grid-3 {
    width: 25%; }
  .desktop-grid-2 {
    width: 16.6666667%; }
  .desktop-grid-1 {
    width: 8.33333333%; }
  .desktop-grid-hide {
    display: none; } }

@media screen and (max-width: 1023px) {
  .portable-grid-12 {
    width: 100%; }
  .portable-grid-11 {
    width: 91.6666667%; }
  .portable-grid-10 {
    width: 83.3333333%; }
  .portable-grid-9 {
    width: 75%; }
  .portable-grid-8 {
    width: 66.6666667%; }
  .portable-grid-7 {
    width: 58.3333333%; }
  .portable-grid-6 {
    width: 50%; }
  .portable-grid-5 {
    width: 41.6666667%; }
  .portable-grid-4 {
    width: 33.3333333%; }
  .portable-grid-3 {
    width: 25%; }
  .portable-grid-2 {
    width: 16.6666667%; }
  .portable-grid-1 {
    width: 8.33333333%; }
  .portable-grid-hide {
    display: none; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .tablet-grid-12 {
    width: 100%; }
  .tablet-grid-11 {
    width: 91.6666667%; }
  .tablet-grid-10 {
    width: 83.3333333%; }
  .tablet-grid-9 {
    width: 75%; }
  .tablet-grid-8 {
    width: 66.6666667%; }
  .tablet-grid-7 {
    width: 58.3333333%; }
  .tablet-grid-6 {
    width: 50%; }
  .tablet-grid-5 {
    width: 41.6666667%; }
  .tablet-grid-4 {
    width: 33.3333333%; }
  .tablet-grid-3 {
    width: 25%; }
  .tablet-grid-2 {
    width: 16.6666667%; }
  .tablet-grid-1 {
    width: 8.33333333%; }
  .tablet-grid-hide {
    display: none; } }

@media screen and (max-width: 767px) {
  .palm-grid-12 {
    width: 100%; }
  .palm-grid-11 {
    width: 91.6666667%; }
  .palm-grid-10 {
    width: 83.3333333%; }
  .palm-grid-9 {
    width: 75%; }
  .palm-grid-8 {
    width: 66.6666667%; }
  .palm-grid-7 {
    width: 58.3333333%; }
  .palm-grid-6 {
    width: 50%; }
  .palm-grid-5 {
    width: 41.6666667%; }
  .palm-grid-4 {
    width: 33.3333333%; }
  .palm-grid-3 {
    width: 25%; }
  .palm-grid-2 {
    width: 16.6666667%; }
  .palm-grid-1 {
    width: 8.33333333%; }
  .palm-grid-hide {
    display: none; } }

*, *::before, *::after {
  box-sizing: border-box; }

html, body, .site-wrapper {
  margin: 0;
  padding: 0;
  height: 100vh; }

.container {
  height: inherit;
  display: block;
  margin: 0 auto;
  width: 1024px; }
  @media screen and (max-width: 767px) {
    .container {
      width: 520px; } }
  @media screen and (max-width: 620px) {
    .container {
      width: 480px; } }
  @media (max-width: 500px) {
    .container {
      width: 80%; } }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
      width: 700px; } }
  @media screen and (min-width: 1441px) {
    .container {
      width: 920px; } }
  @media (min-width: 1400px) {
    .container {
      width: 1024px; } }

.cf::before, .cf::after {
  content: " "; }

.cf::after {
  clear: both; }

.global-component {
  padding-top: 100px;
  padding-bottom: 100px; }

.component {
  padding-bottom: 25px; }

.component--large {
  padding-bottom: 50px; }

h1, h2, h3, h4, button, h5, h6 {
  display: block;
  width: 100%; }

h1, h2, h3, h4, button, h5, h6, p, a, i {
  display: inline-block;
  margin-top: 0; }

h1 {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: "proxima-nova-soft", "tondo", "rooney-web", sans-serif;
  font-size: 1em;
  font-weight: 700; }

h2 {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "proxima-nova-soft", "tondo", "rooney-web", sans-serif;
  font-size: 12em;
  font-weight: 700; }

h3 {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 25px;
  letter-spacing: 4px;
  font-family: "proxima-nova-soft", "tondo", "rooney-web", sans-serif;
  font-size: 1.60em;
  font-weight: 600; }
  @media screen and (max-width: 1460px) {
    h3 {
      font-size: 1.40em; } }

h4, button {
  color: #ffffff;
  font-family: "proxima-nova-soft", "tondo", "rooney-web", sans-serif;
  font-size: 1em;
  font-weight: 600; }

h5 {
  color: #ffffff;
  font-family: "proxima-nova-soft", "tondo", "rooney-web", sans-serif;
  font-size: 1em;
  font-weight: 400; }

h6 {
  color: #ffffff;
  font-family: "proxima-nova-soft", "tondo", "rooney-web", sans-serif;
  font-size: 1em;
  font-weight: 400; }

p {
  color: #646464;
  letter-spacing: 0.5px;
  line-height: 25px;
  font-family: "rooney-web", "Calibri", "Candara", "Segoe", "Segoe UI", "Optima", Arial, sans-serif;
  font-size: 0.80em;
  font-weight: 400; }
  p.bold, p.bold a {
    font-family: "proxima-nova-soft", "tondo", "rooney-web", sans-serif;
    font-weight: 600; }

a {
  color: #16a085;
  text-decoration: none;
  cursor: hand;
  cursor: pointer;
  transition: color ease-in .3s;
  font-family: "rooney-web", "Calibri", "Candara", "Segoe", "Segoe UI", "Optima", Arial, sans-serif;
  font-size: 1em;
  font-weight: 400; }
  a:hover {
    color: #107360; }

i {
  color: #646464;
  font-style: italic;
  font-family: "rooney-web", "Calibri", "Candara", "Segoe", "Segoe UI", "Optima", Arial, sans-serif;
  font-weight: 400; }
  i.fa {
    color: #ffffff;
    font-style: normal;
    font-size: 2em;
    font-weight: normal; }

input, textarea {
  font-family: "proxima-nova-soft", "tondo", "rooney-web", sans-serif;
  font-size: 1em;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  display: block;
  letter-spacing: 2.5px;
  color: #ffffff;
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 15px 25px;
  text-transform: none;
  vertical-align: middle;
  cursor: pointer;
  cursor: hand;
  -webkit-transition: background, 1s;
  -moz-transition: background, 1s;
  transition: background, 1s;
  outline: none; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ffffff; }
  input:-moz-placeholder, textarea:-moz-placeholder {
    color: #ffffff; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #ffffff; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #ffffff; }
  input:placeholder-shown, textarea:placeholder-shown {
    color: #ffffff; }

textarea {
  min-height: 125px;
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  resize: none; }

.bold {
  letter-spacing: 0;
  color: #ffffff;
  font-family: "proxima-nova-soft", "tondo", "rooney-web", sans-serif;
  font-weight: 600;
  font-size: 1em; }

.title {
  position: relative;
  z-index: 1;
  height: auto !important;
  padding-top: 0; }
  .title.title--alternate h2 {
    color: #ffffff; }

@media screen and (max-width: 1460px) {
  button {
    font-size: 0.90em; } }

img {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 25px; }

.global img {
  max-width: 100%;
  max-height: 100%;
  height: 150px;
  width: auto; }

ul {
  list-style: none;
  margin-left: 0;
  text-align: right; }
  ul li {
    text-align: right; }

.search {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 15px; }
  .search > * {
    display: inline-block;
    margin-right: 15px;
    height: 50px; }

.site-wrapper {
  background: #1e5799;
  background: -moz-linear-gradient(top, #1e5799 0%, #0684b7 27%, #acccd7 70%, #e0cbae 85%, #eab372 100%);
  background: -webkit-linear-gradient(top, #1e5799 0%, #0684b7 27%, #acccd7 70%, #e0cbae 85%, #eab372 100%);
  background: linear-gradient(to bottom, #1e5799 0%, #0684b7 27%, #acccd7 70%, #e0cbae 85%, #eab372 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#eab372',GradientType=0 ); }
  .site-wrapper .temp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center; }

ul {
  font-family: "proxima-nova-soft", "tondo", "rooney-web", sans-serif;
  font-size: 1em;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  display: block;
  letter-spacing: 2.5px;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 25px;
  padding: 15px 25px;
  text-transform: none;
  vertical-align: middle;
  cursor: pointer;
  cursor: hand;
  width: 147px;
  -webkit-transition: background, 1s;
  -moz-transition: background, 1s;
  transition: background, 1s;
  position: relative; }
  ul:hover li.placeholder i.fa:before {
    content: "\f106"; }
  ul:hover li {
    display: block !important; }
  ul li:not(.placeholder) {
    display: none;
    text-align: left;
    width: auto;
    white-space: nowrap;
    padding-top: 25px; }
    ul li:not(.placeholder):nth-child(2) {
      padding-top: 30px; }
    ul li:not(.placeholder):hover {
      display: block; }
  ul li.placeholder {
    text-align: left;
    position: relative; }
    ul li.placeholder i.fa {
      font-size: 22px;
      padding-bottom: 2.5px;
      padding-left: 5px;
      vertical-align: middle; }

.map-wrapper {
  width: 100vw;
  height: 200px; }
  .map-wrapper #map {
    width: inherit;
    height: inherit;
    transition: color ease-in .2s; }
