title
	block title
meta(content="text/html", charset="utf-8")
meta(
	name="viewport"
	content="width=device-width, initial-scale=1.0"
	)
meta(
	name="Description"
	content="Weather App by Joe Methven"
	)
link(rel="icon" href="assets/img/favicon.png")
link(rel="apple-touch-icon-precomposed" href="assets/img/appleFavicon.png")
// CSS
link(rel="stylesheet", href="assets/css/main.css")
